In [29]:
import pandas as pd
import geopandas as gpd

In [34]:
gdf_basefile_name_old = 'data/shapefiles/2013_2019_patches/%s_2013_2019.shp'

In [73]:
# Old gdf train, val, test
gdf_train_old = gpd.read_file(gdf_basefile_name_old%'train')
gdf_val_old = gpd.read_file(gdf_basefile_name_old%'val')
gdf_test_old = gpd.read_file(gdf_basefile_name_old%'test')

In [74]:
len(gdf_train_old), len(gdf_val_old), len(gdf_test_old)

(21240, 7080, 7080)

In [39]:
# Basename
basename = 'data/datasets/satseq_sampleRegions_statistics_sample/2013_2019_patches_100000/'

In [40]:
# Match old samples with new selected
gdf_new_stats_sample = gpd.read_file('data/gee_datasets/satseq_sampleRegions_statistics_sample/2013_2019_patches_100000/sampled_points_2013_2019_patches_100000.shp')

In [41]:
gdf_new_stats_sample

,FID,point_id,loss_sum_2,loss_sum_1,loss_sum_3,loss_sum_4,loss_sum_5,loss_sum_6,loss_sum_7,geometry
0,0_0,0_0,231,274,308,603,497,470,838,"POLYGON ((-49.30631 -8.08082, -49.30631 -8.011..."
1,5_0,5_0,1316,928,410,1714,556,431,848,"POLYGON ((-47.96315 -5.13463, -47.96315 -5.065..."
2,6_0,6_0,102,122,0,156,531,142,5,"POLYGON ((-54.23132 -12.77889, -54.23132 -12.7..."
3,7_0,7_0,0,0,225,1,0,0,0,"POLYGON ((-59.34030 -11.01735, -59.34030 -10.9..."
4,9_0,9_0,12,294,68,245,1813,354,421,"POLYGON ((-50.43029 -7.83190, -50.43029 -7.762..."
...,...,...,...,...,...,...,...,...,...,...
33631,99990_0,99990_0,198,10,81,87,0,0,0,"POLYGON ((-56.89271 -9.08093, -56.89271 -9.011..."
33632,99991_0,99991_0,1,54,0,148,27,499,2945,"POLYGON ((-63.04548 -12.25363, -63.04548 -12.1..."
33633,99992_0,99992_0,0,12,24,10,261,574,0,"POLYGON ((-52.89114 -10.72583, -52.89114 -10.6..."
33634,99995_0,99995_0,294,455,546,2096,950,2024,631,"POLYGON ((-67.31114 -10.19301, -67.31114 -10.1..."
33635,99996_0,99996_0,942,7,0,0,7,0,0,"POLYGON ((-52.69094 -12.56673, -52.69094 -12.4..."

In [42]:
gdf_basefile_name = 'data/shapefiles/2013_2019_patches/%s_2013_2019.shp'

In [43]:
# Create new train, val, test with new gdf_stats
gdf_train = pd.merge(gdf_new_stats_sample, gdf_train_old['point_id'], on='point_id')
gdf_val = pd.merge(gdf_new_stats_sample, gdf_val_old['point_id'], on='point_id')
gdf_test = pd.merge(gdf_new_stats_sample, gdf_test_old['point_id'], on='point_id')


# Save new train, val, test
gdf_train.to_file(gdf_basefile_name%('train'))
gdf_val.to_file(gdf_basefile_name%('val'))
gdf_test.to_file(gdf_basefile_name%('test'))

In [72]:
len(gdf_train), len(gdf_val), len(gdf_test)

(12000, 4000, 4000)

In [46]:
unallowed_points

['30720_0',
 '86093_0',
 '56626_0',
 '38258_0',
 '47138_0',
 '70590_0',
 '15434_0',
 '73034_0',
 '57100_0',
 '52683_0',
 '54964_0',
 '28216_0',
 '37516_0',
 '7841_0',
 '39419_0',
 '42211_0',
 '56998_0',
 '42898_0',
 '4397_0',
 '61407_0',
 '87640_0',
 '74727_0',
 '49696_0',
 '20873_0',
 '72674_0',
 '48862_0',
 '25553_0',
 '40289_0',
 '11068_0',
 '69008_0',
 '74995_0',
 '35318_0',
 '32098_0',
 '19712_0',
 '21600_0',
 '62267_0',
 '32690_0',
 '7159_0',
 '12890_0',
 '39616_0',
 '57860_0',
 '20685_0',
 '18393_0',
 '23846_0',
 '70388_0',
 '17730_0',
 '41789_0',
 '77755_0',
 '75197_0',
 '6263_0',
 '57895_0',
 '41502_0',
 '9806_0',
 '50017_0',
 '47330_0',
 '85115_0',
 '8038_0',
 '49581_0',
 '11668_0',
 '33681_0',
 '39032_0',
 '45562_0',
 '34534_0',
 '84687_0',
 '86771_0',
 '51120_0',
 '15318_0',
 '25680_0',
 '68953_0',
 '14112_0',
 '43520_0',
 '26116_0',
 '39187_0',
 '68111_0',
 '61094_0',
 '7124_0',
 '48698_0',
 '14553_0',
 '11600_0',
 '43977_0',
 '72844_0',
 '32898_0',
 '83606_0',
 '9138_0',
 '14346_0',
 '57182_0',
 '84203_0',
 '49595_0',
 '9822_0',
 '179_0',
 '24923_0',
 '19751_0',
 '36023_0',
 '71440_0',
 '2501_0',
 '86367_0',
 '78679_0',
 '60900_0',
 '77013_0',
 '55219_0',
 '68361_0',
 '77813_0',
 '48795_0',
 '4448_0',
 '60556_0',
 '50099_0',
 '4192_0',
 '35729_0',
 '18103_0',
 '51618_0',
 '55033_0',
 '56782_0',
 '89710_0',
 '45503_0',
 '53162_0',
 '69255_0',
 '36856_0',
 '12824_0',
 '65900_0',
 '11816_0',
 '49710_0',
 '25716_0',
 '64179_0',
 '18527_0',
 '19167_0',
 '1994_0',
 '4482_0',
 '47544_0',
 '26253_0',
 '88245_0',
 '71061_0',
 '32218_0',
 '650_0',
 '86796_0',
 '8394_0',
 '742_0',
 '88000_0',
 '67323_0',
 '14021_0',
 '70492_0',
 '47124_0',
 '48507_0',
 '98_0',
 '44056_0',
 '50678_0',
 '21388_0',
 '70806_0',
 '60283_0',
 '83515_0',
 '28404_0',
 '21374_0',
 '25714_0',
 '33874_0',
 '50764_0',
 '6675_0',
 '29523_0',
 '49217_0',
 '10363_0',
 '6411_0',
 '6229_0',
 '44381_0',
 '4416_0',
 '79870_0',
 '59164_0',
 '34164_0',
 '35431_0',
 '17397_0',
 '74072_0',
 '82711_0',
 '39898_0',
 '20724_0',
 '9805_0',
 '58487_0',
 '84665_0',
 '36146_0',
 '66067_0',
 '25915_0',
 '11877_0',
 '1853_0',
 '47119_0',
 '13886_0',
 '12155_0',
 '19706_0',
 '301_0',
 '39495_0',
 '74263_0',
 '17308_0',
 '11798_0',
 '40268_0',
 '11211_0',
 '55437_0',
 '69318_0',
 '41322_0',
 '10632_0',
 '48724_0',
 '71968_0',
 '79608_0',
 '1673_0',
 '25762_0',
 '30672_0',
 '59658_0',
 '66171_0',
 '66557_0',
 '17258_0',
 '5308_0',
 '6016_0',
 '81128_0',
 '6937_0',
 '7828_0',
 '60869_0',
 '81944_0',
 '89806_0',
 '65507_0',
 '12514_0',
 '22517_0',
 '86582_0',
 '37058_0',
 '60371_0',
 '26538_0',
 '30157_0',
 '82455_0',
 '9929_0',
 '31384_0',
 '57573_0',
 '49738_0',
 '42750_0',
 '12560_0',
 '65504_0',
 '17754_0',
 '80101_0',
 '40002_0',
 '74238_0',
 '64142_0',
 '44036_0',
 '20343_0',
 '87101_0',
 '63214_0',
 '39904_0',
 '54171_0',
 '5879_0',
 '73237_0',
 '73395_0',
 '35789_0',
 '29427_0',
 '6803_0',
 '29787_0',
 '19322_0',
 '6189_0',
 '28887_0',
 '31897_0',
 '8723_0',
 '76478_0',
 '45528_0',
 '75908_0',
 '5574_0',
 '84747_0',
 '72488_0',
 '87149_0',
 '63291_0',
 '34570_0',
 '5754_0',
 '2964_0',
 '33345_0',
 '21599_0',
 '14853_0',
 '77226_0',
 '649_0',
 '61743_0',
 '60264_0',
 '59230_0',
 '724_0',
 '72797_0',
 '6828_0',
 '45720_0',
 '29277_0',
 '35825_0',
 '70457_0',
 '84603_0',
 '36543_0',
 '14746_0',
 '8896_0',
 '22730_0',
 '10812_0',
 '2087_0',
 '50856_0',
 '87266_0',
 '64514_0',
 '76314_0',
 '58744_0',
 '87479_0',
 '34905_0',
 '25237_0',
 '40890_0',
 '46162_0',
 '21936_0',
 '14153_0',
 '629_0',
 '5762_0',
 '70570_0',
 '17683_0',
 '51869_0',
 '84316_0',
 '86052_0',
 '37497_0',
 '81753_0',
 '61769_0',
 '11794_0',
 '54607_0',
 '26353_0',
 '65462_0',
 '71789_0',
 '18521_0',
 '780_0',
 '11640_0',
 '75371_0',
 '52777_0',
 '32449_0',
 '28846_0',
 '78160_0',
 '31217_0',
 '64165_0',
 '30966_0',
 '49027_0',
 '53652_0',
 '32608_0',
 '27823_0',
 '42773_0',
 '6518_0',
 '57900_0',
 '36025_0',
 '58642_0',
 '43850_0',
 '84509_0',
 '26814_0',
 '33419_0',
 '10513_0',
 '6134_0',
 '58969_0',
 '2104_0',
 '87481_0',
 '28065_0',
 '5002_0',
 '28248_0',
 '72804_0',
 '61395_0',
 '73742_0',
 '13660_0',
 '61668_0',
 '38983_0',
 '11616_0',
 '19889_0',
 '12639_0',
 '78697_0',
 '29549_0',
 '19495_0',
 '21440_0',
 '9406_0',
 '53623_0',
 '83765_0',
 '35731_0',
 '12778_0',
 '11357_0',
 '3528_0',
 '3720_0',
 '20600_0',
 '23121_0',
 '64054_0',
 '19672_0',
 '32797_0',
 '73263_0',
 '1031_0',
 '31696_0',
 '17896_0',
 '39793_0',
 '38365_0',
 '16166_0',
 '39780_0',
 '56059_0',
 '83334_0',
 '83378_0',
 '13461_0',
 '81697_0',
 '32126_0',
 '21598_0',
 '69910_0',
 '47403_0',
 '17097_0',
 '19759_0',
 '1539_0',
 '73836_0',
 '8127_0',
 '7268_0',
 '24601_0',
 '87407_0',
 '1457_0',
 '15057_0',
 '84284_0',
 '49554_0',
 '6979_0',
 '35323_0',
 '244_0',
 '26738_0',
 '58091_0',
 '1387_0',
 '3328_0',
 '40487_0',
 '15491_0',
 '80754_0',
 '21103_0',
 '60934_0',
 '22658_0',
 '43052_0',
 '40089_0',
 '80079_0',
 '53803_0',
 '76740_0',
 '2280_0',
 '82162_0',
 '79462_0',
 '31328_0',
 '48683_0',
 '88949_0',
 '19247_0',
 '25453_0',
 '83647_0',
 '72802_0',
 '39099_0',
 '34650_0',
 '36677_0',
 '499_0',
 '1321_0',
 '30247_0',
 '23534_0',
 '3750_0',
 '62824_0',
 '35091_0',
 '13209_0',
 '50306_0',
 '30168_0',
 '14459_0',
 '9222_0',
 '17779_0',
 '52437_0',
 '57588_0',
 '50699_0',
 '70546_0',
 '88915_0',
 '412_0',
 '60557_0',
 '63302_0',
 '39195_0',
 '30527_0',
 '45955_0',
 '16564_0',
 '38837_0',
 '67131_0',
 '54702_0',
 '55018_0',
 '14257_0',
 '24804_0',
 '24501_0',
 '1228_0',
 '12020_0',
 '8831_0',
 '53457_0',
 '40694_0',
 '64739_0',
 '11765_0',
 '26202_0',
 '1499_0',
 '2947_0',
 '41185_0',
 '35165_0',
 '21605_0',
 '45207_0',
 '47754_0',
 '39073_0',
 '73106_0',
 '80796_0',
 '54132_0',
 '4664_0',
 '28683_0',
 '21274_0',
 '9139_0',
 '61766_0',
 '51173_0',
 '12485_0',
 '4341_0',
 '89602_0',
 '59306_0',
 '62398_0',
 '47616_0',
 '86318_0',
 '83937_0',
 '44834_0',
 '85265_0',
 '18969_0',
 '43521_0',
 '74383_0',
 '67437_0',
 '14011_0',
 '55501_0',
 '78148_0',
 '67627_0',
 '81377_0',
 '18153_0',
 '41374_0',
 '7251_0',
 '10927_0',
 '48280_0',
 '3378_0',
 '49612_0',
 '28047_0',
 '14188_0',
 '17979_0',
 '30695_0',
 '2467_0',
 '72233_0',
 '16716_0',
 '65148_0',
 '77538_0',
 '66004_0',
 '49958_0',
 '10714_0',
 '81450_0',
 '28926_0',
 '62147_0',
 '71884_0',
 '4046_0',
 '27762_0',
 '17005_0',
 '72092_0',
 '13839_0',
 '63157_0',
 '83022_0',
 '20458_0',
 '72234_0',
 '59528_0',
 '39307_0',
 '11077_0',
 '24001_0',
 '34047_0',
 '22206_0',
 '67396_0',
 '12188_0',
 '39537_0',
 '26946_0',
 '4552_0',
 '79095_0',
 '61055_0',
 '26133_0',
 '62613_0',
 '29850_0',
 '31875_0',
 '68605_0',
 '55867_0',
 '4615_0',
 '10823_0',
 '13925_0',
 '30739_0',
 '29967_0',
 '21369_0',
 '45146_0',
 '70737_0',
 '10304_0',
 '89651_0',
 '89440_0',
 '21036_0',
 '32064_0',
 '33461_0',
 '3248_0',
 '63776_0',
 '63394_0',
 '31420_0',
 '70667_0',
 '71373_0',
 '64040_0',
 '9968_0',
 '12545_0',
 '76871_0',
 '74331_0',
 '24116_0',
 '42916_0',
 '25742_0',
 '71945_0',
 '27580_0',
 '15010_0',
 '28668_0',
 '33747_0',
 '37400_0',
 '10707_0',
 '15265_0',
 '7097_0',
 '6058_0',
 '4681_0',
 '38582_0',
 '18985_0',
 '22779_0',
 '83362_0',
 '46612_0',
 '63344_0',
 '38438_0',
 '75497_0',
 '5284_0',
 '14782_0',
 '28479_0',
 '22941_0',
 '25489_0',
 '53368_0',
 '74033_0',
 '2306_0',
 '54887_0',
 '73841_0',
 '18726_0',
 '59249_0',
 '63720_0',
 '71748_0',
 '62058_0',
 '60429_0',
 '21521_0',
 '33139_0',
 '72071_0',
 '37859_0',
 '72310_0',
 '42943_0',
 '88761_0',
 '57564_0',
 '85413_0',
 '9763_0',
 '4796_0',
 '4716_0',
 '8572_0',
 '89075_0',
 '36361_0',
 '16579_0',
 '80674_0',
 '56127_0',
 '89200_0',
 '12679_0',
 '82703_0',
 '2443_0',
 '18490_0',
 '29843_0',
 '24016_0',
 '55511_0',
 '16518_0',
 '82798_0',
 '63114_0',
 '58399_0',
 '29438_0',
 '43556_0',
 '51583_0',
 '57363_0',
 '41007_0',
 '69980_0',
 '48517_0',
 '131_0',
 '29053_0',
 '39976_0',
 '26249_0',
 '26400_0',
 '50540_0',
 '39211_0',
 '78725_0',
 '4443_0',
 '26648_0',
 '43105_0',
 '23255_0',
 '56819_0',
 '58187_0',
 '41691_0',
 '83380_0',
 '19988_0',
 '26655_0',
 '12243_0',
 '9251_0',
 '43460_0',
 '6674_0',
 '38516_0',
 '48518_0',
 '64632_0',
 '69236_0',
 '56599_0',
 '31785_0',
 '16720_0',
 '59044_0',
 '76366_0',
 '47003_0',
 '22593_0',
 '79983_0',
 '62422_0',
 '53127_0',
 '7613_0',
 '385_0',
 '26804_0',
 '19866_0',
 '1476_0',
 '78087_0',
 '89599_0',
 '11183_0',
 '22175_0',
 '40534_0',
 '5062_0',
 '66423_0',
 '41004_0',
 '14260_0',
 '69674_0',
 '76657_0',
 '29944_0',
 '5576_0',
 '43919_0',
 '71054_0',
 '52102_0',
 '31175_0',
 '38792_0',
 '13530_0',
 '56751_0',
 '11325_0',
 '87310_0',
 '38804_0',
 '74098_0',
 '51112_0',
 '89636_0',
 '69096_0',
 '80244_0',
 '86846_0',
 '55105_0',
 '86789_0',
 '60066_0',
 '32268_0',
 '74020_0',
 '24412_0',
 '56315_0',
 '7347_0',
 '48567_0',
 '80686_0',
 '67047_0',
 '33033_0',
 '3614_0',
 '25966_0',
 '78735_0',
 '12175_0',
 '85138_0',
 '77189_0',
 '53087_0',
 '50293_0',
 '38138_0',
 '14133_0',
 '75313_0',
 '60029_0',
 '42735_0',
 '55217_0',
 '84179_0',
 '15134_0',
 '4486_0',
 '7611_0',
 '12837_0',
 '38808_0',
 '21883_0',
 '2368_0',
 '79026_0',
 '77136_0',
 '23382_0',
 '53866_0',
 '14439_0',
 '84636_0',
 '7977_0',
 '40488_0',
 '60703_0',
 '16290_0',
 '89044_0',
 '9966_0',
 '49968_0',
 '57703_0',
 '2730_0',
 '41788_0',
 '17137_0',
 '87317_0',
 '8527_0',
 '74898_0',
 '60320_0',
 '530_0',
 '48036_0',
 '15618_0',
 '6848_0',
 '15339_0',
 '12234_0',
 '66962_0',
 '82364_0',
 '14167_0',
 '71409_0',
 '17577_0',
 '39545_0',
 '10795_0',
 '19790_0',
 '41317_0',
 '47611_0',
 '61422_0',
 '52463_0',
 '21121_0',
 '65036_0',
 '41449_0',
 '4710_0',
 '81344_0',
 '3133_0',
 '46321_0',
 '88663_0',
 '8460_0',
 '69428_0',
 '75096_0',
 '54009_0',
 '83934_0',
 '39355_0',
 '30357_0',
 '37821_0',
 '7377_0',
 '8737_0',
 '63950_0',
 '53330_0',
 '69558_0',
 '57898_0',
 '49096_0',
 '37434_0',
 '30180_0',
 '12428_0',
 '5659_0',
 '17270_0',
 '24867_0',
 '36261_0',
 '16690_0',
 '21781_0',
 '46886_0',
 '51854_0',
 '46589_0',
 '8087_0',
 '16103_0',
 '40301_0',
 '19240_0',
 '6615_0',
 '8687_0',
 '72095_0',
 '14608_0',
 '23690_0',
 '64313_0',
 '20498_0',
 '53658_0',
 '13977_0',
 '12043_0',
 '15592_0',
 '59753_0',
 '8333_0',
 '33745_0',
 '11664_0',
 '39935_0',
 '30943_0',
 '3596_0',
 '81744_0',
 '5796_0',
 '29560_0',
 '55124_0',
 '70992_0',
 '6646_0',
 '9419_0',
 '84390_0',
 '10327_0',
 '48952_0',
 '21904_0',
 '58822_0',
 '19791_0',
 '20426_0',
 '81775_0',
 '50682_0',
 '21179_0',
 '36598_0',
 '20141_0',
 '155_0',
 '58622_0',
 '12355_0',
 '78165_0',
 '41454_0',
 '75432_0',
 '72569_0',
 '23207_0',
 '75136_0',
 '19005_0',
 '17802_0',
 '32989_0',
 '43864_0',
 '49176_0',
 '982_0',
 '46077_0',
 '11796_0',
 '5339_0',
 '13635_0',
 '85624_0',
 '39816_0',
 '5090_0',
 '33670_0',
 '86918_0',
 '52202_0',
 '48777_0',
 '64420_0',
 '72442_0',
 '4373_0',
 '36634_0',
 '26095_0',
 '79633_0',
 '21398_0',
 '80076_0',
 '802_0',
 '76674_0',
 '26055_0',
 '32636_0',
 '40844_0',
 '3065_0',
 '54128_0',
 '84013_0',
 '3178_0',
 '33413_0',
 '11775_0',
 '58065_0',
 '78345_0',
 '2592_0',
 '71105_0',
 '64896_0',
 '86961_0',
 '18031_0',
 '19987_0',
 '84283_0',
 '6291_0',
 '80583_0',
 '43028_0',
 '68720_0',
 '71047_0',
 '10242_0',
 '74348_0',
 '87148_0',
 '63029_0',
 '29372_0',
 '55283_0',
 '75119_0',
 '81980_0',
 '10538_0',
 '3768_0',
 '73204_0',
 '24868_0',
 '47726_0',
 '27777_0',
 '13697_0',
 '39660_0',
 '1458_0',
 '48120_0',
 '85105_0',
 '13015_0',
 '84305_0',
 '65808_0',
 '7499_0',
 '82160_0',
 '61618_0',
 '80208_0',
 '24885_0',
 '54388_0',
 '986_0',
 '12363_0',
 '77391_0',
 '19838_0',
 '49241_0',
 '473_0',
 '48193_0',
 '77682_0',
 '81054_0',
 '87754_0',
 '13993_0',
 '13456_0',
 '17588_0',
 '67646_0',
 '67981_0',
 '29780_0',
 '66479_0',
 '57550_0',
 '10290_0',
 '864_0',
 '5230_0',
 '71900_0',
 '12835_0',
 '39626_0',
 '11581_0',
 '45489_0',
 '8212_0',
 '87691_0',
 '37484_0',
 '13867_0',
 '59189_0',
 '83425_0',
 '72959_0',
 '49631_0',
 '6814_0',
 '65658_0',
 '12669_0',
 '30118_0',
 ...]

In [50]:
len([point for point in unallowed_points if point.replace("_2013_2019","") in gdf_val.point_id.to_list()])

373

In [15]:
df_stats = pd.read_csv('data/stats/forest_loss_stats/2013_2019_patches_100000/df_point_stats_2013_2019_patches_100000.csv')

In [16]:
df_stats

,Unnamed: 0,point_id,loss_sum_2013,loss_sum_2014,loss_sum_2015,loss_sum_2016,loss_sum_2017,loss_sum_2018,loss_sum_2019
0,0,47397_0,98,221,73,170,336,413,116
1,1,47404_0,539,2759,964,2073,5503,1376,498
2,2,47407_0,263,4108,455,1437,1021,571,1304
3,3,47410_0,90,750,2166,807,3643,929,1058
4,4,47411_0,22,32,0,16,394,64,495
...,...,...,...,...,...,...,...,...,...
33631,33631,83004_0,491,1106,523,859,807,267,204
33632,33632,83006_0,357,166,283,430,1007,149,551
33633,33633,83012_0,67,18,101,128,699,10780,26
33634,33634,83015_0,0,0,0,51,819,0,0
33635,33635,83019_0,194,451,597,1003,269,64,420

In [17]:
def calc_ratio(gdf):
    return pd.merge(gdf, df_stats, on='point_id')['loss_sum_2019'].sum()/(len(gdf))

In [ ]:
print(calc_ratio(gdf_train))
print(calc_ratio(gdf_val))
print(calc_ratio(gdf_test))

In [19]:
def remove_tiles(gdf, amount, lower = None, higher = None):
    gdf_merged = pd.merge(gdf, df_stats, on='point_id')
    if lower is not None:
        remove_index = gdf_merged[gdf_merged['loss_sum_2019']>=lower].sample(n=amount, random_state = 0)
    if higher is not None:
        remove_index = gdf_merged[gdf_merged['loss_sum_2019']<=higher].sample(n=amount, random_state = 0)
    if lower is not None and higher is not None:
        remove_index = gdf_merged[(gdf_merged['loss_sum_2019']>=lower)&(gdf_merged['loss_sum_2019']<=higher)].sample(n=amount, random_state = 0)
    
    remove_index = list(remove_index['FID'])
    gdf = gdf[~gdf['FID'].isin(remove_index)]
    
    return gdf

def remove_tiles_by_random_sampling(gdf, amount, target_ratio=None, gap=None, fixed_random_state = None, random_state = 0):
    best_random_state = 0
    best_ratio = 0
    best_gap = 1000
    if fixed_random_state:
        gdf_stratified = gdf.sample(n=amount, random_state = fixed_random_state)
        random_state = fixed_random_state
    else:
        gdf_stratified = gdf.sample(n=amount, random_state = random_state) 
        while abs(target_ratio-calc_ratio(gdf_stratified)) > gap or target_ratio > calc_ratio(gdf_stratified):
            random_state += 1
            gdf_stratified = gdf.sample(n=amount, random_state = random_state) 
            new_ratio = calc_ratio(gdf_stratified)
            new_gap = abs(new_ratio-target_ratio)
            if new_gap <= best_gap:
                best_ratio = new_ratio
                best_random_state = random_state
                best_gap = new_gap
                print(best_random_state,best_ratio)
                
            if random_state > 100000:
                break
           
            
                
                
    return random_state, gdf_stratified, calc_ratio(gdf_stratified)

In [ ]:

# Adjust train
#gdf_train_stratified = remove_tiles(gdf_train, higher = 0, amount = 521)
random_state_train, gdf_train_stratified, ratio_train = remove_tiles_by_random_sampling(gdf_train, 12000, 600, 0.03, random_state = 29512)

ratio_train = calc_ratio(gdf_train_stratified)
random_state_train, ratio_train

In [ ]:
random_state_val, gdf_val_stratified, ratio_val = remove_tiles_by_random_sampling(gdf_val, 4000, ratio_train, 0.01)
print(random_state_val, ratio_val)
random_state_test, gdf_test_stratified, ratio_test = remove_tiles_by_random_sampling(gdf_test, 4000, ratio_train, 0.01)
print(random_state_test, ratio_test)

In [105]:
# Create stratified splits
random_state_train, gdf_train_stratified, ratio_train = remove_tiles_by_random_sampling(gdf_train, amount = 12000, fixed_random_state=92620)
random_state_val, gdf_val_stratified, ratio_val = remove_tiles_by_random_sampling(gdf_val, amount = 4000, fixed_random_state=406) 
random_state_test, gdf_test_stratified, ratio_test = remove_tiles_by_random_sampling(gdf_test, amount = 4000, fixed_random_state=3117)

In [106]:
# Check ratios and length of dataset
print(calc_ratio(gdf_train_stratified), calc_ratio(gdf_val_stratified), calc_ratio(gdf_test_stratified))
print(len(gdf_train_stratified), len(gdf_val_stratified), len(gdf_test_stratified))

600.0079166666667 600.0025 600.00425
12000 4000 4000

In [107]:
# Write stratified files
gdf_train_stratified.to_file(gdf_basefile_name%('stratified_train'))
gdf_val_stratified.to_file(gdf_basefile_name%('stratified_val'))
gdf_test_stratified.to_file(gdf_basefile_name%('stratified_test'))

# Create stratified sample for baseline

In [32]:
# Points are not allowed because there are severe data missing issues

In [20]:
import re
# Get unallowed points
with open('O:/2013_2019/process_samples_baseline_True.log', 'r') as file:
    data = file.read()
    
# Get tf record level
removable_sub_dirs = {}
entries = re.findall('(?<=Features)(.*)(?=//satseq_sampleRegions_baseline_0)',str(data))
for entry in entries:
    features = re.findall('(?<=\')(.*)(?=\')', str(entry))
    features = [feature.replace("'","") for feature in features]
    features = features[0].split(',')
    sub_dir = re.findall('(?<=are missing for data/raw_data/baseline/2013_2019_preprocessed/)(.*)',str(entry))
    removable_sub_dirs[sub_dir[0]] = features

# Get point level
sub_strs = re.findall('(?<=Missing values for feature )(.*)(?=\n)',data)

missing_point_dict = {}
for sub_str in sub_strs:
    point = re.search('(?<=point )(.*)',sub_str).group(1)
    feature = re.search('(.*)(?= for)',sub_str).group(1)
    if point not in missing_point_dict:      
        missing_point_dict[point] = []
    missing_point_dict[point].append(feature)

In [21]:
unallowed_points = [missing_point.replace("_2013_2019","") for missing_point in missing_point_dict]

In [24]:
gdf_stratified_train = gpd.read_file(gdf_basefile_name%('stratified_train'))
gdf_stratified_test = gpd.read_file(gdf_basefile_name%('stratified_test'))
gdf_stratified_val = gpd.read_file(gdf_basefile_name%('stratified_val'))

In [25]:
print(calc_ratio(gdf_stratified_train))
print(calc_ratio(gdf_stratified_test))
print(calc_ratio(gdf_stratified_val))

600.0079166666667
600.00425
600.0025

In [26]:
# Find best stratified sample split for data
def find_best_split(gdf, percent, gap = None, fixed_random_state = None, target_ratio = None, random_state = 0):
    best_gap = 10000
    best_random_state = 0
    best_ratio = 0
    amount = int(percent*len(gdf))
    gdf = gdf[~gdf['point_id'].isin(unallowed_points)]
    
    
    if fixed_random_state:
        random_state = fixed_random_state
        gdf_stratified = gdf.sample(n=amount, random_state = random_state) 
    else:
        if not target_ratio:
            target_ratio = calc_ratio(gdf)
        gdf_stratified = gdf.sample(n=amount, random_state = random_state) 
        best_gap = abs(target_ratio-calc_ratio(gdf_stratified))
        
        while abs(target_ratio-calc_ratio(gdf_stratified)) >= gap:
            random_state += 1
            gdf_stratified = gdf.sample(n=amount, random_state = random_state) 
            
            new_ratio = calc_ratio(gdf_stratified)
            new_gap = abs(new_ratio-target_ratio)
            if new_gap <= best_gap:
                best_ratio = new_ratio
                best_random_state = random_state
                best_gap = new_gap
                print(best_random_state,best_ratio)
            
            if random_state > 10000:
                break
                
    return random_state, gdf_stratified, calc_ratio(gdf_stratified)

In [51]:
# Find best sampling to get a stratified baselie split 1%
(random_state_train,
gdf_stratified_train_baseline,
ratio_train) =  find_best_split(gdf_stratified_train,
                                percent = 0.01,
                                gap = 0.01,
                                target_ratio = 600, 
                                random_state = 4269)
                                
print(random_state_train, ratio_train)

(random_state_val,
gdf_stratified_val_baseline,
ratio_val) =  find_best_split(gdf_stratified_val,
                              percent = 0.01,
                              gap = 0.01,
                              target_ratio = 600,
                              random_state = 1337)
print(random_state_val, ratio_val)

(random_state_test,
gdf_stratified_test_baseline,
ratio_test) =  find_best_split(gdf_stratified_test,
                               percent = 0.01,
                               gap = 0.01,
                               target_ratio = 600)
print(random_state_test, ratio_test)

4270 661.9166666666666
4271 540.95
4273 591.5583333333333
4296 607.7166666666667
4327 606.475
4365 604.7333333333333
4431 598.85
4642 599.6416666666667
4942 600.1833333333333
5457 599.8416666666667
5725 600.075
5902 600.025
9188 599.9916666666667
9188 599.9916666666667
1338 502.025
1339 511.75
1341 523.3
1342 559.5
1348 570.6
1353 602.825
1436 601.475
1672 600.7
2438 600.325
3535 599.875
3543 600.1
4361 600.075
9105 600.025
10001 816.55
1 567.4
10 607.15
71 595.25
82 598.05
338 598.725
444 598.875
632 599.125
652 599.525
1081 600.25
1336 599.8
9120 600.05
10001 648.35

In [63]:
# Create strafied splits
(random_state_train,
gdf_stratified_train_baseline,
ratio_train) =  find_best_split(gdf_stratified_train,
                                percent = 0.01,
                                fixed_random_state = 5902)
(random_state_val,
gdf_stratified_val_baseline,
ratio_val) =  find_best_split(gdf_stratified_val,
                              percent = 0.01,
                              fixed_random_state = 9105)
(random_state_test,
gdf_stratified_test_baseline,
ratio_test) =  find_best_split(gdf_stratified_test,
                               percent = 0.01,
                               fixed_random_state = 9120)

In [64]:
# Check ratios and length of dataset
print(calc_ratio(gdf_stratified_train_baseline), calc_ratio(gdf_stratified_val_baseline), calc_ratio(gdf_stratified_test_baseline))
print(len(gdf_stratified_train_baseline), len(gdf_stratified_val_baseline), len(gdf_stratified_test_baseline))

600.025 600.025 600.05
120 40 40

In [65]:
# Save stratified splits
gdf_stratified_train_baseline.to_file(gdf_basefile_name%('stratified_baseline_train_1_perc'))
gdf_stratified_val_baseline.to_file(gdf_basefile_name%('stratified_baseline_test_1_perc'))
gdf_stratified_test_baseline.to_file(gdf_basefile_name%('stratified_baseline_val_1_perc'))

In [57]:
perc = 0.1
# Find best sampling to get a stratified baselie split 10%
(random_state_train,
gdf_stratified_train_baseline_10,
ratio_train) =  find_best_split(gdf_stratified_train,
                                percent = perc,
                                gap = 0.01,
                                target_ratio = 600)
print(random_state_train, ratio_train)

(random_state_val,
gdf_stratified_val_baseline_10,
ratio_val) =  find_best_split(gdf_stratified_val,
                              percent = perc,
                              gap = 0.01,
                              target_ratio = 600)
print(random_state_val, ratio_val)

(random_state_test,
gdf_stratified_test_baseline_10,
ratio_test) =  find_best_split(gdf_stratified_test,
                               percent = perc,
                               gap = 0.01,
                               target_ratio = 600)
print(random_state_test, ratio_test)

1 595.6916666666667
10 604.2
31 599.4516666666667
66 599.575
154 599.7475
271 599.855
643 599.8816666666667
863 599.9333333333333
1213 599.9575
1466 599.9708333333333
2208 599.9891666666666
4854 600.0025
4854 600.0025
2 560.485
3 589.6725
4 603.6925
9 597.8825
85 600.1525
1439 599.945
2262 600.0525
5561 600.005
5561 600.005
11 602.085
69 600.085
115 600.0575
708 600.02
1385 599.99
1385 599.99

In [58]:
perc = 0.1
# Create strafied splits
(random_state_train,
gdf_stratified_train_baseline_10,
ratio_train) =  find_best_split(gdf_stratified_train,
                                percent = perc,
                                fixed_random_state = 4854)
(random_state_val,
gdf_stratified_val_baseline_10,
ratio_val) =  find_best_split(gdf_stratified_val,
                              percent = perc,
                              fixed_random_state = 5561)
(random_state_test,
gdf_stratified_test_baseline_10,
ratio_test) =  find_best_split(gdf_stratified_test,
                               percent = perc,
                               fixed_random_state = 708)

In [61]:
# Check ratios and length of dataset
print(calc_ratio(gdf_stratified_train_baseline_10), calc_ratio(gdf_stratified_val_baseline_10), calc_ratio(gdf_stratified_test_baseline_10))
print(len(gdf_stratified_train_baseline_10), len(gdf_stratified_val_baseline_10), len(gdf_stratified_test_baseline_10))

600.0025 600.005 600.02
1200 400 400

In [62]:
# Save stratified splits
gdf_stratified_train_baseline_10.to_file(gdf_basefile_name%('stratified_baseline_train_10_perc'))
gdf_stratified_val_baseline_10.to_file(gdf_basefile_name%('stratified_baseline_test_10_perc'))
gdf_stratified_test_baseline_10.to_file(gdf_basefile_name%('stratified_baseline_val_10_perc'))

In [99]:

sample_type = 'stratified_%s'

#Save stratified splits
gdf_stratified_train = gpd.read_file(gdf_basefile_name%(sample_type)%('train'))
gdf_stratified_val = gpd.read_file(gdf_basefile_name%(sample_type)%('val'))
gdf_stratified_test = gpd.read_file(gdf_basefile_name%(sample_type)%('test'))

In [100]:
gdf_stratified_train.FID = gdf_stratified_train.FID + '_2013_2019'
gdf_stratified_val.FID = gdf_stratified_val.FID + '_2013_2019'
gdf_stratified_test.FID = gdf_stratified_test.FID + '_2013_2019'

In [101]:
len(gdf_stratified_train), len(gdf_stratified_val), len(gdf_stratified_test),

(12000, 4000, 4000)

In [102]:
gdf_stratified_train.to_file(gdf_basefile_name%(sample_type)%('train'))
gdf_stratified_val.to_file(gdf_basefile_name%(sample_type)%('val'))
gdf_stratified_test.to_file(gdf_basefile_name%(sample_type)%('test'))

In [107]:
gdf_stratified_test

,FID,point_id,loss_sum_2,loss_sum_1,loss_sum_3,loss_sum_4,loss_sum_5,loss_sum_6,loss_sum_7,geometry
0,58575_0_2013_2019,58575_0,1945,3934,5420,4501,2191,2850,667,"POLYGON ((-63.62183 -9.03553, -63.62183 -8.966..."
1,55907_0_2013_2019,55907_0,222,346,311,634,3266,5,190,"POLYGON ((-51.38233 -6.50406, -51.38233 -6.434..."
2,46779_0_2013_2019,46779_0,19,12,204,65,4401,487,39,"POLYGON ((-51.62565 -11.79376, -51.62565 -11.7..."
3,3627_0_2013_2019,3627_0,5,6,48,55,48,38,19,"POLYGON ((-48.60278 -10.24492, -48.60278 -10.1..."
4,24533_0_2013_2019,24533_0,4,48,41,2290,228,73,1615,"POLYGON ((-51.44996 -10.60996, -51.44996 -10.5..."
...,...,...,...,...,...,...,...,...,...,...
3995,54126_0_2013_2019,54126_0,36,325,49,241,373,141,133,"POLYGON ((-57.63926 -11.13535, -57.63926 -11.0..."
3996,21772_0_2013_2019,21772_0,0,0,0,0,40,0,0,"POLYGON ((-55.11323 -8.99556, -55.11323 -8.926..."
3997,4689_0_2013_2019,4689_0,0,0,49,10,44,24,2,"POLYGON ((-54.77878 -8.56863, -54.77878 -8.499..."
3998,61051_0_2013_2019,61051_0,0,1,0,0,0,0,0,"POLYGON ((-59.98941 -9.31376, -59.98941 -9.244..."
3999,75568_0_2013_2019,75568_0,1211,384,215,166,125,236,47,"POLYGON ((-48.26595 -10.64323, -48.26595 -10.5..."